.view-toolbar {
	position: absolute;
	top: 0;
	left: 40px;
	right: 0px;
	max-width: 800px;
	z-index: 1;
	transition: .2s;
	white-space: nowrap;
}

.view-timeline {
	position: absolute;
	top: 48px;
	height: 40px;
	left: 40px;
	right: 0px;
	max-width: 800px;
	color: var(--clr-dark);
	background-color: var(--clr-pane);
	border-radius: 4px;
	overflow: hidden;

	transition: .2s;
}

.view-timeline > div {
	position: relative;
	left: 12px;
	width: calc(100% - 24px);
	height: 100%;
}

.view-timeline .timeline-con {
	position: absolute;
	top: 0;
	width: min(1.5%, 10px);
	height: 100%;
}
.view-timeline .timeline-con:hover {
	background-color: var(--clr-highlight);
}

.view-timeline .timeline-dot {
	position: absolute;
	top: 15px;
	width: 100%;
	height: 10px;
	/*background-color: var(--clr-accent);*/
	outline: 2px solid #404040;
	border-radius: 10px;

	transition: .4s;
}

.view-scroll {
	position: absolute;
	top: 48px;
	bottom: 8px;
	left: 40px;
	right: 0px;
	max-width: 800px;
	overflow-y: auto;
	transition: .2s;
}

.view-attributes-list {
	top: 0px;
	width: 100%;
	color: var(--clr-dark);
	background-color: var(--clr-pane);
	border-radius: 4px;
	padding: 2px 0;
	overflow-x: hidden;

	transition: .2s;
}

.view-attributes-list > div {
	white-space: nowrap;
	height: 33px;
	transition: height .2s;
}

.view-attributes-list > div:first-child {
	border-radius: 4px 4px 0 0;
}
.view-attributes-list > div:last-child {
	border-radius: 0 0 4px 4px;
}
.view-attributes-list > div:only-child {
	border-radius: 4px 4px 4px 4px;
}

.view-attributes-freeze > div:hover {
	background-color: var(--clr-highlight);
}

.view-attributes-freeze > div > input[type="text"] {
	all: unset;
	overflow: hidden;
	text-overflow: ellipsis;
}
.view-attributes-freeze > div > input[type="text"]:nth-child(1) {
	text-transform: capitalize;
}

.view-attributes-list > div > input[type="text"] {
	box-sizing: border-box;
	margin: 2px 0px 2px 4px;
	padding: 4px 8px;
}

.view-attributes-list > div > input[type="text"]:nth-child(1) {
	width: max(100px, 25%);
}

.view-attributes-list > div > input[type="text"]:nth-child(2) {
	width: calc(100% - max(100px, 25%) - 44px);

	background-position: calc(100% - 4px) center;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	animation: slide-background 1 .4s;
}

.view-attributes-list > div > input[type="button"]:nth-child(3) {
	position: absolute;
	right: 4px;
	
	width: 28px;
	min-width: 28px;
	height: 28px;
	background-color: var(--clr-control) !important;
	background-image: url(/mono/delete.svg);
	background-size: 20px 20px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 2px 0px 2px 4px;
	transition: .2s;
}

.view-attributes-list > div > div:nth-child(4) {
	position: absolute;
	right: 0px;
	transform: translateY(-26px);
	text-align: right;
	width: auto;
	max-width: auto;
	overflow: hidden;

	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, right .2s;
	transition-delay: .4s;
}

.view-attributes-list > div > div:nth-child(4) > div {
	display: inline-block;
	color: var(--clr-light);
	background-color: var(--clr-dark);
	border-radius: 4px;
	padding: 0 4px;
	margin-left: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
}

.view-attributes-list > div > div:nth-child(4) > div:nth-child(1) {
	max-width: 150px;
}
.view-attributes-list > div > div:nth-child(4) > div:nth-child(2) {
	max-width: 100px;
}

.view-attributes-list > .view-attributes-group {
	margin-top: 16px;
	padding-left: 40px;
	line-height: 32px;
	text-transform: capitalize;
	font-weight: 600;
	background-repeat: no-repeat;
	background-size: 28px 28px;
	background-position: 4px 50%;
	background-color: #80808040 !important;

	transition: .2s;
}

.view-attributes-freeze > div > input[type="text"]:nth-child(2) {
	width: calc(100% - max(100px, 25%) - 12px);
}

.view-attributes-freeze > div > input[type="button"]:nth-child(3) {
	display: none;
}

.view-attributes-freeze > div:hover > div:nth-child(4) {
	visibility: visible;
	opacity: 1;
	right: 6px;
	transition-delay: .8s;
}


.view-attributes-freeze > div > div:nth-child(4):hover > div {
	max-width: initial;
}

.view-attributes-with-info > div > div:nth-child(4) {
	visibility: visible;
	opacity: 1;
	right: 6px;
	transition-delay: 0s !important;
}

.view-attributes-with-info > div > div:nth-child(4) > div {
	max-width: initial !important;
}

@container (min-width: 800px) {
	.view-timeline,
	.view-toolbar,
	.view-scroll {
		left: 200px;
	}
}

@keyframes slide-background {
	0%   { background-position: calc(100% + 24px) center; }
	100% { background-position: calc(100% - 4px) center; }
}